html,body {
    font-family: 'Open Sans', sans-serif;
    background: #F0F2F4;
    }
.hero-body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }

textarea, input {
    padding:10px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  }

/* #navBar {
position: fixed;
width: 100vw;
height: 50px;
background-color: #DEDEDE;
transition: 0.2s;
display: flex;
}

.floatingNav {
width: calc(100vh - 100px); 
border-radius: 2px;
box-shadow: 0px 1px 10px #999;
} */
  